Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/NewBlendSpace1D.uasset
Content/Blueprints/MyTree_Actor_BP.uasset
